body {
  height: 100vh;
  display: grid;
  background-color: black;
  place-items: center;
  color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-box {
  padding: 25px;
  height: 400px;
  width: 400px;
  border: 2px solid white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 60px;
  border-radius: 8px;
  box-shadow: 0 0 6px 4px lightgreen, 0 0 6px 4px lightgreen inset;
}

.title {
  font-size: 45px;
  margin-bottom: 15px;
}

.count {
  border: 2px soild white;
  padding-block: 20px;
  padding-inline: 80px;
  font-size: 35px;
  width: fit-content;
  margin-inline: auto;
  color: greenyellow;
  /* box-shadow: 0 0 4px 2px greenyellow, 0 0 4px 2px greenyellow inset; */
  margin-bottom: 30px;
}

button{
  padding: 15px 30px;
  color:blue;
  border: 2px solid white;
  /* background-color: transparent; */
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 7px;
  box-shadow: 0 0 4px 2px yellow, 0 0 4px 2px yellow inset;
  margin-bottom: 15px;
}

button:nth-child(2){
  margin-left: 20px;
}

button:nth-child(3){
  margin-left: 20px;
}